.main {
  background-color: var(--primary--dim);
  color: var(--medgrey);
  padding: var(--s);
  margin: 0;
}

.main-idea {
  color: var(--white);
  animation-name: mainIdea;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  text-align: center;
}

.link,
.link:visited {
  color: var(--accent--bright);
  opacity: 0.5;
  text-decoration: none;
}

.main-container-about {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 2em;
  align-content: center;
  justify-content: space-evenly;
  margin: 5%;
}

.arrow {
  width: 0;
  height: 0;
  margin-top: 30%;
  flex: 1;
}

@keyframes mainIdea {
  0% {
    color: var(--primary);
  }
  50% {
    color: white;
  }
  100% {
    color: var(--primary);
  }
}
