.About-container {
  padding: var(--m);
  color: var(--white);
  font-size: 1.1rem;
  min-height: 84.5vh;
}

.About-header {
  text-align: center;
  background-color: var(--primary);
  border-radius: 20px;
  padding: var(--m);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.About-heading {
  color: var(--white);
  text-align: center;
}

.About-subheading {
  font-size: 1.1rem;
  font-weight: normal;
}

.About-content {
  margin-top: var(--l);
  background-color: var(--primary);
  border-radius: 20px;
  padding: var(--m);
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.About-listItem {
  margin-bottom: var(--m);
}

.link,
.link:visited {
  color: var(--accent--bright);
  opacity: 0.5;
  text-decoration: none;
}

.About-why {
  text-align: center;
  margin-top: var(--l);
  background-color: var(--primary);
  padding: var(--m);
  border-radius: 20px;
  margin-bottom: var(--s);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.About-image {
}
