.LevelEditor-container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 83vh;
  color: var(--white);
}

.LevelEditor-sidebar {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  margin: var(--m) 0 var(--m) var(--m);
  background-color: var(--white);
  min-width: 185px;
}
