.Repository-title {
  color: var(--white);
  font-weight: bold;
}

.Repository-container {
  margin: 0;
  padding: var(--l);
  background-color: var(--primary--dim);
  min-height: 84vh;
}

.Repository-heading {
  color: var(--white);
}

.Repository-navigation {
  background-color: var(--primary);
  border-radius: 20px;
  padding: var(--l);
  align-items: center;
}

.Repositry-sorting {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--m);
  color: var(--white);
  font-weight: bold;
}

.Repository-form {
  align-self: center;
}

.Repository-sortingTools {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--m);
  align-self: center;
  padding-top: 1vh;
}

.button {
  border-radius: 20px;
}
.Repository-button,
.Repository-button:active,
.Repository-button:focus,
.Repository-button:visited {
  background-color: var(--primary--dim) !important;
  border: 1.5px solid var(--primary--dim) !important;
}

.Repository-button:hover {
  background-color: var(--primary--dim);
  border: 1.5px solid var(--primary--dim);
  opacity: 80%;
}

.Repository-textLabel {
  font-weight: bold;
  margin-right: var(--m);
}

.Repository-searchButton {
  margin-left: auto;
  max-height: 40px;
  font-weight: bold;
  border: 1.5px solid var(--primary--dim);
}

.Repository-searchButton:hover {
  margin-left: auto;
  max-height: 40px;
  font-weight: bold;
  opacity: 80%;
  border: 1.5px solid var(--primary--dim);
}

.filtering {
  display: flex;
  justify-content: space-between;
}

.Repository-orderButton,
.Repository-orderButton:active,
.Repository-orderButton:hover,
.Repository-orderButton:focus,
.Repository-orderButton:visited {
  background-color: var(--primary) !important;
  border: 1.5px solid var(--primary) !important;
  margin-left: 0 !important;
  margin-top: -0.75rem;
  max-height: 30px;
  min-width: 24px;
  font-weight: bold !important;
  font-size: 1.7rem !important;
  padding: 0 !important;
}

.or {
  margin-left: 5vw;
}

.valid {
  border: 1px solid red;
}
