.EditTool-container {
  flex: 1 1 1;
  border-radius: 25%;
  position: relative;
  margin: var(--s);
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditTool-selected {
  background-color: var(--primary);
}

.EditTool-unselected {
  background-color: var(--primary--dim--dim);
}

.EditTool-unselected:hover {
  background-color: var(--primary--dim);
}

.EditTool-container img {
  flex-shrink: 0;
  height: 65%;
  width: 65%;
  align-self: center;
  justify-self: center;
}
