.EditTool-container {
  flex: 1 1 1;
  border-radius: 25%;
  position: relative;
  margin: var(--s);
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditTool-selected {
  background-color: var(--darkgrey);
}

.EditTool-unselected {
  background-color: var(--grey);
}

.EditTool-unselected:hover {
  background-color: var(--medgrey);
}
