.footer-container {
  background-color: var(--primary);
  padding: var(--m) 0 var(--s) 0;
  margin-top: 0;
  /*border-top: 1px solid var(--primary--dim);*/
  color: var(--white);
  font-weight: bold;
  position: static;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Footer-expander {
  min-height: 10vh;
}
