.Game-container {
  flex: 6;
  margin: var(--m);
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  align-content: center;
  justify-content: center;
}
