.LevelData-container {
}

.LevelData-buttonContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.LevelData-button {
  margin: var(--s);
}

.LevelData-button:hover {
  opacity: 75%;
}

.LevelData-button,
.LevelData-button:hover,
.LevelData-button:active,
.LevelData-button:focus,
.LevelData-button:visited {
  background-color: var(--primary--dim--dim);
  border: 1.5px solid var(--primary--dim--dim);
}

.LevelData-sliderContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.LevelData-slider {
  width: 35%;
}
