.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.login {
  margin-left: auto;
  margin-right: var(--l);
}

.profile {
  margin-left: auto;
  margin-right: var(--l);
}

.invalid {
  color: var(--red);
}

.img-profile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.google-button {
  overflow:hidden;
  border-radius: 30px;
  }