.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.login {
  margin-left: auto;
  margin-right: var(--l);
  justify-content: center;
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--m);
}

.NavBar-helpButton:hover {
  opacity: 65%;
}

.profile {
  margin-left: auto;
  margin-right: var(--l);
}

.invalid {
  color: var(--red);
}

.img-profile {
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.google-button {
  overflow: hidden;
  border-radius: 30px;
}

.modal .modal-content {
  background-color: var(--primary);
  color: #fff;
  min-width: 500px;
}

.modalButton {
  background-color: var(--primary--dim--dim);
  border: none;
}

.modalButton:hover {
  background-color: var(--primary--dim);
}

.modal-dialog {
  min-width: 600px;
}

.modalHeader {
  display: flex;
  flex-flow: column nowrap;
}

.modal-title {
  font-size: 1.875rem;
}

.modalSectionTitle {
  margin-bottom: var(--s);
}

#obstacleTitle {
  margin-bottom: 0;
  margin-top: var(--m);
}

.modalObstacleRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
}
