.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  flex: none;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.login {
  position: absolute;
  top: 1%;
  right: 2%;
}

.profile {
  display: inline-block;
}
