#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
}

.Pagination-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: var(--l);
  margin-bottom: var(--l);
  margin-top: var(--l);
}

.custom-pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: var(--m);
  list-style: none;
  cursor: pointer;
  margin-top: var(--l);
}

.page-link {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--white);
  font-weight: bold;
  background-color: var(--primary--dim);
}

.disabled a {
  color: var(--white) !important;
  font-weight: bold !important;
  opacity: 100%;
  border: 1px solid var(--primary) !important;
  background-color: var(--primary--dim) !important;
}

.active a {
  color: var(--white) !important;
  font-weight: bold !important;
  border: 2px solid var(--white) !important;
  background-color: var(--primary--dim) !important;
}

.page-link:hover {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--white);
  font-weight: bold;
  background-color: var(--primary--dim);
  opacity: 80%;
}

.disabled a:hover {
  color: var(--white) !important;
  font-weight: bold !important;
  opacity: 100%;
  border: 1px solid var(--primary) !important;
  background-color: var(--primary--dim) !important;
  opacity: 80%;
}

.active a:hover {
  color: var(--white) !important;
  font-weight: bold !important;
  border: 2px solid var(--white) !important;
  background-color: var(--primary--dim) !important;
  opacity: 80%;
}

.next {
  width: 95px;
  text-align: center;
}
